*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
body{
  background: #ece9fd;
  font-family: 'Epilogue', sans-serif;
  padding: 6.0rem 2.3rem 0;
  color: #090039;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
main{
  max-width: 33.0rem;
  margin: 0 auto;
}
main p:first-child{
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #7158EF;
  margin-bottom: 1.7rem;
}
h1{
  font-weight: 800;
  font-size: 4.0rem;
  line-height: 4.8rem;
  margin-bottom: 1.5rem;
}
h1 + p{
  color: rgba(10, 0, 57, 0.64);
  margin-bottom: 3.2rem;
}
a{
  text-decoration: none;
  color: #090039;
}
a:hover{
  color: #3418d4;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 3.2em;
  margin: 7.2rem 0 6.6rem 0;
  list-style: none;
}
ul li span{
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;
}
ul li{
  font-weight: 700;
  font-size: 2.4rem;
  max-width: 25.7rem;
  display: flex;
  gap: 3.8rem;
}
@media(min-width:700px){
  body{
    padding: 8.0rem;
  }
  main{
    max-width: 1020px;
    display: flex;
    gap: 10.0rem;
  }
  main .first-segment{
    max-width: 484px;
  }
  ul li{
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }
}